*Piutang dengan  jurnal koneksikan dan juga metode bayar



Kita kasi catatan yang belum selesai kak ya :
- cetak nota (Sudah)
- pembelian barang
- folio pada wo di hilangkan di ganti menjadi gramfus (sudah)
- di bagian nota ada fitur tambahan ketik manual untuk harga lain seperti harga Plong , Mesin , Laminating , Potong , Plat (sudah )
- opsi terhadap plat dan stock
- cetak nota dengan detail warna pekat (sudah)
- di bagian plat ada beberapa opsi yang bisa di pilih
- laporan penjualan A dan plat ada jasa (plong, laminating, potong)